# Ignorar arquivos de log
*.log

# Ignorar arquivos de configuração de ambiente
.env

# Ignorar configurações do IDE (exemplo: IntelliJ IDEA)
.idea

# Ignorar diretórios de dependências do Node.js
node_modules/

# Ignorar o diretório .git (para evitar rastrear o repositório dentro de si mesmo)
.git/
