# Ignorar arquivos de log
*.log

# Ignorar arquivos de configuração de ambiente
.env

# Ignorar configurações do IDE (exemplo: IntelliJ IDEA)
.idea

# Ignorar diretórios de dependências do Node.js
node_modules/

# Ignorar o diretório .git (para evitar rastrear o repositório dentro de si mesmo)
.git/

# Ignorar as pastas cmd e mingw46 dentro da pasta GIT
/Git/cmd/
Git/mingw64/

# ignora os videos q fiz downloads 
pastaDonwload/

# iginora a banco de dados do curso Hastag Progamação
BancoHASTAG/

# Ignorar a pasta de backup do banco de dados
Backup/